@charset "utf-8";

/* CSS Document */



*{

	margin:0;

	padding:0;

	/*border:0;*/

}

img {

    border:0;
}



.spacer{
    height: 30px;
}

.page_note{
    width: 935px; min-height:25px; position: relative; float: left; text-align: center;
    margin-bottom: 5px;
}

.border_shadow{
    
behavior: url("ie-css3.htc");    
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: #666 0px 2px 8px;
-moz-box-shadow: #666 0px 2px 8px;
box-shadow: #666 0px 2px 8px;

}



html, body{

	font-family:Arial, Helvetica, sans-serif, "Myriad Pro";

	font-size:13px;

	/*color:#333;*/color:#292828;

	font-weight:normal;

	   background: url("images/pageBg.jpg") repeat-x scroll left top #88B2DC;

	/*background:url(/img/testproject/bodyBg.jpg) repeat left top;*/

	/*background:url(images/pageBg.jpg) left top repeat-x #88b2dc;*/

}




a {

	text-decoration:none;

	color:#333;

}



a:hover {

	text-decoration:underline;

}





input, select, textarea{

	border:1px solid #b1b1b1;

}



input[type=radio], input[type=checkbox],input[type=image],input[type=button]{

	border:0;

}

.wrapper{

	width:982px;

	

	margin:0 auto 25px;

	

}



.clear {

	clear:both;

	background:none;

}



.left {

	float:left;

}

.fright {

	float:right;

	width:0px;

}

.fleft {

	float:left;

	width:0px;

}



.right {

	float:right;

}



.middle {

	vertical-align:middle;

}



.wrap2{

	width:960px;

	margin:0 auto 25px;

	clear:both;

	/*background-color:#111c24;*/

	/*background:url(/img/testproject/footer.png) repeat-x left bottom;*/

}

.innWrap{

	width:939px;

	margin:0 auto;

	clear:both;

}

.navBg{

	background:url(/img/testproject/navBg.gif) repeat-x left center;

	float:left;

	height:41px;

	clear:both;

}



.header{

	height:141px;

	clear:both;

	background:url(images/headerBg.jpg) left top repeat-x;

}





.topNav{

    background-color: #111C24;

    height:34px;

    line-height:34px;

    clear:both;

    font-size:14px;

    color:#fefeff;

    padding:0 11px;

}



.topNav li{

    float:left;

    display:inline-block;

    padding:0 4px;

}



.topNav li a{

    color:#88b2dc;

    text-decoration:none;

}



.topNav li a:hover{

    text-decoration:none;

}



.topNav li a.rhtNav{

    color:#88b2dc;

    text-decoration:none;

}

.topNav li a.active{

    color:white;

    text-decoration:none;

}



.topNav li a.rhtNav:hover{

    text-decoration:none;

}







.bodyCont{

	width:938px; margin:0 auto; background-color:#fefeff;

}

.botCor{

	background:url(/img/testproject/footTxt.png) repeat-x left top; height:21px; clear:both;

}

.botCor p{

	text-align:center; font-size:11px; color:white; padding-top:4px;

}

.footer{

	height:31px; line-height:31px; background:url(images/footer.jpg) repeat-x left top; color:#fefeff; font-size:12px; text-align:center;

}



.lftTxt_box{

	padding:40px 30px; color:#111c24; line-height:24px; float:left; width:668px;

}



.lftTxt_box h1{

	font-size:28px; font-weight:normal; padding-bottom:8px;

}



.lftTxt_box h2{

	font-size:18px; font-weight:normal; padding-bottom:8px;

}



.lftTxt_box a{

	text-decoration:none;

	color:#111c24;

}



.lftTxt_box a:hover{

	text-decoration:underline;

}



.rhtBox{

	width:180px; padding-right:30px; float:left;

}



.regButton, .regButton:hover{

	background:url(/images/titlBg_rht.gif) right top no-repeat; display:inline-block; color:#fff; font-size:18px; text-decoration:none;

}



.regButton span{

	display:inline-block; cursor:pointer; padding:5px 61px;

}



.conConts{

	border:solid 1px #d2d2d2; border-width:0 1px; padding:10px 0;

}

/**************************************************************************************************************************************************/

.navBg{

	background:url(/img/testproject/navBg.gif) repeat-x left center;

	float:left;

	height:41px;

	clear:both;

	margin:24px;

}





.navBg li{

	display:inline-block;

	float:left;

	font-size:13px;

	font-weight:bold;

	background:url(/img/testproject/divider.gif) right top no-repeat;

	text-transform:uppercase;

}



.navBg li a{

    margin-right:2px;

    text-decoration:none;

    display:inline-block;

}



.navBg li a span{

    padding:12px 20px 13px;

    display:inline-block;

}



.navBg li a:hover{   

    display:inline-block;

    color:white;

    background:url(/img/testproject/nav_over_Rht.gif) right top no-repeat;

    text-decoration:none;

    margin-right:2px;

}



.navBg li a:hover span{

    background:url(/img/testproject/nav_over_Lft.gif) left top no-repeat;

    display:inline-block;

    cursor:pointer;

    padding:12px 20px 13px;

}





.navBg li a.active{   

    display:inline-block;

    color:white;

    background:url(/img/testproject/nav_over_Rht.gif) right top no-repeat;

    text-decoration:none;

    margin-right:2px;

}



.themeInput {

border:1px solid #D2D2D2;

color:#5A5A5A;

font-size:11px;

background-color:#fef2f7;

margin:1px 0;

padding:2px;

width:60px;

}

.navBg li a.active span{

    background:url(/img/testproject/nav_over_Lft.gif) left top no-repeat;

    display:inline-block;

    cursor:pointer;

    padding:12px 20px 13px;

}



.leftPanel{

	width:670px; margin-right:20px; float:left; clear:right; line-height:18px;

}



.rightPanel{

	width:195px; float:left; clear:right;

}



.boxTop{

	background:url(/img/testproject/lftBox_top.gif) left top no-repeat; height:15px;

}



.boxBot{

	background:url(/img/testproject/lftBox_bot.gif) left top no-repeat; height:15px;

}



/*.boxBor{

	border-left:1px solid #a8d7ea; border-right:1px solid #a8d7ea;

}*/



.boxTxt{

	font-size:13px; color:#0b83b3;

}



.boxPad{

	padding:0 16px;

}



.boxDiv{

	background:url(/img/testproject/divider2.png) center no-repeat; height:3px;

}



.boxBg{

	/*background:url(/img/testproject/boxBg.gif) left bottom repeat-x;*/

}



h1{

	font-family:calibri; font-size:14px; color:#565656; 

}



.paddBot{

	padding-bottom:8px;

}



.inptBox{

	width:194px;
     /*border:1px solid #bedae5; */
     background: url(../../img/inpt_bg_rht.png) no-repeat right top;  
     border: 0 none; 
     display: inline-block;
     height: 22px; padding:1px 0 0;  
    

}



h1.comm{

	text-transform:none; font-size:16px;

}



h2{

	font-family:calibri; font-size:22px; color:#565656;  padding-left:28px; padding-bottom:7px; height:23px;

}

.spnDetails{



    margin-right: 20px;



    width: 300px;



    clear: right;



    float: left;



}

.SponsorlogoBox{

 	 clear:right; float:left; margin-right:20px; 

}

.coinBox{

	width:270px; clear:right; float:left; margin-right:20px;

}



.coinBoxCenter{

	margin: 0 auto;    	width: 270px;

}

.coinBoxTop{

	background:url(/img/testproject/coinBox_LftTop.gif) left top no-repeat; height:14px;

}



.coinBoxBot{

	background:url(/img/testproject/coinBox_LftBot.gif) left top no-repeat; height:14px;

}





.shortDescrp{

	width:420px; clear:right; float:left;

}





.footerLnks {

    clear: both;

    color: #FFFFFF;

    font-size: 11px;

    height: 22px;

    padding-top: 45px;

    text-align: center;

}



.topLnks{

	list-style:none;

	float:right;

	margin-top:36px;

	

	

}



.topLnks li{

	display:inline-block;

	float:left;

	margin-left:7px;

	height:36px;

	background:red;

	font-size:16px;

	

}



.topLnks li a, .topLnks li a:hover{

	display:inline-block;

	background:url(../../img/testproject/topLiRht.jpg) right top no-repeat;

	color:white;

	text-decoration:none;

}



.topLnks li a span, .topLnks li a:hover span{

	display:inline-block;

	padding:9px 20px 0;

	background:url(../../img/testproject/topLiLft.jpg) left top no-repeat;

	color:white;

	height:27px;

	text-decoration:none;

	cursor:pointer;

}



.paddLft{

	padding-left:47px

}

.lbl{

width:150px;

margin-right:5px;

display:inline-block;

/*margin-bottom:12px;*/

}



 #msg {

 	display:none;

	position:absolute;

	z-index:200;

	background:url(/img/testproject/msg_arrow.gif) left center no-repeat;

	padding-left:7px

	}

#msgcontent {

	display:block;

	background:#f3e6e6; 

	border:2px solid #924949; 

	border-left:none; padding:5px; 

	min-width:150px; 

	max-width:250px

	} 

.msgcontainer {

  border-style:solid;

  border-width:1px;

  padding:3px;

  min-width:445px;

  text-align:center;

}

.msgcontainer img{

  height:14px;

  margin-right:10px

}

.error {

  /*background-color:#FFEBE8;*/

  border-color:#DD3C10;



}

.success {

  /*background-color:#EEFFE0;*/

  border-color:#36BD4D;



}

.errormsg {

background:no-repeat scroll left center #FFEBE8;

border:1px solid #DD3C10;

font-family:Arial;

font-size:11px;

font-weight:bold;

margin:2px 2px 5px;

overflow:hidden;

padding:5px 2px 5px 20px;

text-align:left;

text-decoration:none;

width: 655px;

}

.error-message{

display:none;	

	

}

.errormsg1 {

background:no-repeat scroll left center #FFEBE8;

border:1px solid #DD3C10;

font-family:Arial;

font-size:11px;

font-weight:bold;

margin:2px 2px 5px;

overflow:hidden;

padding:5px 2px 5px 20px;

text-align:left;

text-decoration:none;

width: 320px;

}

.error-message{

display:none;	

	

}

.successmsg  {

background: no-repeat scroll left center #E8FCDF;

border:1px solid #4CA009;

float:left;

font-family:Arial;

font-size:11px;

font-weight:bold;

margin:2px 2px 5px;

overflow:hidden;

padding:5px 22px 5px 20px;

text-align:left;

text-decoration:none;

}

#flashMessage.success{

	border:1px solid green;

	padding:10px 5px 10px 5px;

	color:black;

	font-weight:normal;

	margin: 5px 0 5px 0 ;

}

#flashMessage.error{

	border:1px solid red;

	padding:10px 5px 10px 5px;

	color:black;

	font-weight:normal;

	margin: 5px 0 5px 0 ;

}

#flashMessage.warning{

	border:1px solid yellow;

	padding:10px 5px 10px 5px;

	color:black;

	font-weight:normal;

	margin: 5px 0 5px 0 ;

}





#setFlashMessage.success{

color:red;

font-weight:normal;

}



/* styles added on 17/02/2011 */



.bdyCont {
    float: left;
   
    padding-right: 20px;

    width: 880px;

}





.navigation{

    clear: right;

    float: left;

    width: 230px;

	margin-right:20px;

}





.navigation li{

	background: url(/img/testproject/Nav_divider.png) no-repeat scroll center bottom transparent;

    font-size: 13px;

    font-weight: bold;

    line-height: 30px;

    padding-left: 5px;

}



.navigation li a{

	color:#04709b;

	text-decoration:none;

}





.navigation li a.actNav{

	color:#303030;

	text-decoration:none;

}



/* ******* END ********** */

/* styles added on 21/02/2011 */



/*.forIds{

	 border-right:1px solid #bdbcbd; padding:3px 12px; vertical-align:top;

}*/



.forName{

	 border-right:1px solid white; padding:5px 12px; vertical-align:top; font-size:12px;

}

.new_forName{

    padding:5px 12px; vertical-align:top; font-size:12px;

}



.forDate{

	 padding:3px 12px; vertical-align:top;font-size:12px;

}



.line{

	background:#bdbcbd; clear:both;

}



.frmTitles{

	font-size:12px; padding:3px 12px; font-weight:bold;  color:white; background:#509cd9;

}

/**
* Some classed added for coins and comments html
*/
 .bgLightBlueColor{
     background-color: #E3F1FA;
     border: none;
 }

 .margin8px{
         margin : 8px;
 }

 .marginRight4px{
         margin-right : 4px;
 }
/**
* END : Some classed added for coins and comments html
*/ 

.proDetail{

	width:330px;

	clear:right;

	float:left;

}



label.lblProDet{

	width:117px;

	clear:right;

	float:left;

}



span.spnProDet{

	width:213px;

	float:left;

	clear:right;

}



.btn {

   	background: none repeat scroll 0 0 #1282AF;

    border: 1px solid #656565;

    color: #FFFFFF;

    cursor: pointer;

    padding: 2px 9px;

}



.seltBox{

    border: 1px solid #BEDAE5;

    width: 196px;

	}

	

.boxMgr{

	margin-right:16px;

}



/*

.commTitle{

	font-size:13px; font-weight:bold; color:#056991; background:#a0d8ef; padding:3px 15px; border:1px solid #bdbcbd; border-bottom-width:0;

}



.commtBox{

	border:1px solid #bdbcbd; padding:5px 15px 10px;

}*/



/* ********** END *********** */

/* styles added on 01/03/2011 */



.commTitle{

	/*font-size:13px; font-weight:bold; color:#056991; background:#a0d8ef; padding:3px 15px; border:1px solid #bdbcbd; border-bottom-width:0;*/

	line-height: 24px;

    margin-bottom: 10px;

    padding: 3px 15px;

	color: #E57919;

    font-size: 13px;

	border-bottom: 1px dotted #BDBCBD;

}



.dateSpn{

	color: #0572BF;

    font-size: 12px;

}



.postedby{

	color:#303030;

font-size:9px;

font-style:italic;

font-weight:normal;

}



.commtBox{

	/*border:1px solid #bdbcbd; padding:5px 15px 10px;*/

	border-bottom: 1px dotted #AB7713;

    color: #666666;

    line-height: 18px;

    margin-bottom: 20px;

    padding: 5px 15px 20px;

}

.subcommtBox{

	/*border:1px solid #bdbcbd; padding:5px 15px 10px;*/

	border-bottom: 1px dotted #CCC;

    color: #666666;

    line-height: 18px;

    margin-bottom: 10px;

    margin-left: 40px;

    padding: 5px 15px 20px;

}



.srNo{

	color: #CC0000;

    font-weight: bold;

    padding-left: 15px;

}



/* ******** END *********** */

/* styles added on 03/03/2011 */

.compLogo {

    background:url(/img/testproject/companybg.png) no-repeat left top;

	width:160px;

	height:160px;

	float:left;

	margin-right:20px;

	padding-top: 1px;

	padding-left: 1px;

}

/* ******** END *********** */

.compLogo h4{

color: #FA1900;

    font-size: 14px;

    padding: 10px 0;

    text-align: center;

    text-transform: capitalize;

}



/* table select */

div.table .select {

	float:right;

	margin:2px 1px 0 0;

	width:176px;

	height:25px;

	background:#9097A9 url(/img/testproject/bg-select.gif);

	color:#fff;

	}

div.table .select strong {

	float:left;

	padding:5px 0 0 5px;

	}	

div.table .select select {

	float:right;

	width:78px;

	margin:2px 3px 0 0;

	text-align:right;	

	}

	

	

	.admgrid{
	border:2px solid #999999;
    font-weight: bold;

    color:#4F4F4F;
    padding-top: 0px;
    padding-bottom: 5px;
	}
    
    .table_header{
        float: right;
        width: 300px;
        height: 22px;
        background-color:#509cd9 ;

        
    }
    
    
    
	

	

/*	

.admgrid td{

	border:none;

	padding:5px 10px;

	border:1px solid #e9e8e8;

	border-top:none;

	border-left:none;

	}

.admgrid td .bg2{

	background:url(/img/testproject/td_bg2.gif) repeat-x bottom;

	}

.admgrid td span{

	display:inline-block;

	}

.admgrid td a{

	text-decoration:none;

	}

.admgrid td.last{

	background:none;

	font-weight:bold;

	}

.admgrid th{

	border-top:none;

	border-left:none;

	border-right:1px solid #e9e8e8;

	border-bottom:1px solid #e9e8e8;

	border-top:1px solid #e9e8e8;

	height:30px;

	padding:0 5px;

	font-size:12px;

	font-weight:bold;

	color:#056991;

	/*background:url(/img/testproject/th_bg.jpg) repeat-x bottom left;*/

/*	
    background-color:#a0d8ef;

	vertical-align:middle;

	

	}

.admgrid th a{

	color:#565656;

	vertical-align:middle;

	}

.admgrid th a img{

	vertical-align:middle;

	}

.admgrid th a:hover{

	color:#268bc1;

	}

*/



/* ******** styles added on 08/03/2011 ******** */

.header2 {

    background: url("/img/testproject/headerNew.png") no-repeat scroll -11px bottom transparent;

    clear: both;

    height: auto !important;

    margin: 0 auto;

    /*min-height: 107px;*/

    padding: 0px 0px 0px 0px;

     width: 960px;

}

/*.header2{

	background: url("/img/testproject/headerNew.png") no-repeat scroll left bottom transparent;

	clear: both;

	height: 100px;

	margin: 0 auto;

	padding: 20px 20px 0;

	width: 980px;

}*/





/*.navTop {

float: right;

    list-style: none outside none;

    margin-left: 833px;

    margin-top: -36px;

    position: absolute;

    z-index: 101;

	/*list-style: none outside none;

    margin-left: 783px;

    margin-top: 56px;

    position: absolute;

    z-index: 101;*/

/*}*/

.navTop {

    float: right;

    list-style: none outside none;

    margin-top: -27px;

    padding-right: 10px;

    position: absolute;

    text-align: right;

    width: 957px;

    z-index: 101;

}

.navTop li {

    display: inline-block;

    font-size: 16px;

    height: 36px;

    margin-right: 3px;

}



/*.navTop li{

	display:inline-block;

	float:left;

	margin-left:7px;

	height:36px;

	font-size:16px;

	

}*/



.navTop li a, .navTop li a:hover{





	display:inline-block;

	background:url(/img/testproject/topNavBg.gif) right top repeat-x;

	color:#88b2dc;

	text-decoration:none;

}



.navTop li a span, .navTop li a:hover span{







	display:inline-block;

	padding:3px 10px;

	/*background:url(images/topLiLft.jpg) left top no-repeat;*/

	color:white;

	height:21px;

	text-decoration:none;

	cursor:pointer;

}

.headerLogo {

   /* height: 92px;

    width: 980px;

*/

}

/*.headerLogo{

	height:92px; width:980px;

}*/



/* ****** END ******* */



.otherh1 h1{

padding:5px 0;

background:none;

}

.rightbotimg{

background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: center; padding: 10px 0;

}

.rightbotimg li{

float: left; padding:6px;
list-style: none;

}

.lftMgrn{

    margin-left:22px;

}

 .contactInput {

border:1px solid #7F9DB9;

color:#5A5A5A;

font-size:11px;

margin:1px 0;

padding:2px;

width:150px;

}

 

select{

 border:1px solid #bedae5;

}

.boldlabel{

	font-weight: bold;

	color:#4F4F4F;

}	

select optgroup{

			font-style: normal;

			padding-bottom:6px;

			font-size: 11px;

		}

select option{

			font-size: 11px;

			 width: 100px;

}

.otherjquery .ui-tabs .ui-tabs-panel {

padding:0;

}



.ui-tabs-panel {padding:6px !important;}



.calendarcls{

    background:url('/img/testproject/calendar_new.png') left top no-repeat; 

	height:22px; 

	width:22px; 

	cursor:pointer;

}

.dashboard{

width:auto !important;

width:80px;

min-width:80px;



}

h3{

padding:10px 0 0; color:#ff6d15; font-size:15px;

}



.noPadd{

	padding:0;

}



.editorTxt{

	height:auto !important;

	min-height:200px;
    

}



.editorTxt p, .editorTxt ul, .editorTxt ol, .editorTxt li{

	/*margin:0 !important;

	padding: !important;*/
    
   margin-left:20px;
   margin-right:20px;
   margin-top: 5px;
   margin-bottom: 5px;

}

span.red {color:red;font-weight:bold}



/********* styles added for drop down menu *************/





#menu{

    list-style-type:none;

}

#menu li{

    float:left;

        position:relative;

}



#menu ul {position:absolute; top:34px; left:0; background:#88B2DC; display:none; opacity:0; list-style:none; background-image:none; }

#menu ul li {position:relative; margin:0; padding:0; width:150px; height:25px;font-size:12px; font-weight:normal; display:inline-block; background:none;}

#menu ul li a {display:block;  padding:3px 5px; color:#111C24; font-weight:bold; margin:0;}

#menu ul li a:hover {text-decoration:none; background:#111C24; color:#ffffff; font-weight:bold;}

#menu ul ul {left:151px; top:0px;}



ul.menu ul ul {left:151px; top:0px}



#menu ul li{

    display:inline-block;

    float:left;

}



ul.menu li a{

    color:#111C24;

    text-decoration:none;

    display:inline-block;

}



ul.menu li a span{

    padding:5px 20px;

    display:inline-block;

    cursor:pointer;

}



ul.menu li a:hover{

    background:#111C24;

    text-decoration:none;

    color:#ffffff;

}



ul.menu li a:hover span{

    display:inline-block;

    padding:5px 20px;

    background:#111C24;

    cursor:pointer;

}



ul.menu li a.active{   

    display:inline-block;

    color:white;

    background:#111C24;

    text-decoration:none;

    margin-right:2px;

}



ul.menu li a.active span{

    background:#111C24;

    display:inline-block;

    cursor:pointer;

    padding:5px 20px;

}



ul.menu .sub {background:url(/img/testproject/arrow.gif) 136px 8px no-repeat}



#container{background-color: #111C24;

    margin-left: 11px;

    width: 960px}

/* ********* END ************* */

/* styles added on 23/06/2011 */







.frmLbls{



	width:150px; display:inline-block; font-size:14px; color:#333; margin-bottom:10; vertical-align:top; margin-bottom:10px; padding-top:3px;



}







.intpSpan{

	background: url(../../img/inpt_bg_lft.png) no-repeat scroll left top transparent;  
    height: 22px;
    padding-left: 6px;
    margin-bottom:15px;
    display:inline-block;
}







.inpt_txt_fld{background: url(../../img/inpt_bg_rht.png) no-repeat right top;    border: 0 none;    display: inline-block;    height: 22px; padding:1px 0 0;    width: 236px; vertical-align:top;



}







.noBg{background:none;}







.seltTag{



	background: none repeat scroll 0 0 transparent;



    margin-bottom: 5px;



    width: 230px;



}







.frmLbl2 {
    color: #4F4F4F;
    margin-bottom: 20px;
    padding-right: 16px;
    text-align: right;
    width: 132px;

}









h1{



	font-size: 24px;



    font-weight: normal;



    padding-bottom: 15px;



    padding-top: 25px;



}




.rhtFrmCont{
/*    width:390px; padding-right:79px; float:right; color:#4F4F4F;*/
    border: 1px solid #CCCCCC;
    color: #4F4F4F;
    float: right;
    margin-right: 10px;
    min-height: 450px;
    padding-right: 35px;
    width: 390px;
}

.midORBox{
    float: right;
    height: 200px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    font-weight: bold;
    padding-top: 150px;
    color: #000000;
}



.rhtFrmCont h2{



    font-size: 24px;



    font-weight: normal;



    padding-bottom: 15px;



    float:right;



    padding-top: 25px;



}







.chkTxt{

    padding-top: 1px;

}







.lftReg_box a, .chkTxt a{



	/*color:#00a000;*/
    color: orange;



}







.regBut{



	display:inline-block; background:url(../../img/grnBut_lft.png) left top no-repeat; padding-left:4px;



}







.regBut span{



	display:inline-block;



	background:url(../../img/grnBut_rht.png) right top no-repeat; height:22px; line-height:22px; padding:0 15px 0 11px; color:#fff; font-size:14px;



}











.lftReg_box{
/* width:390px; float:left; padding-left:79px; color:#4f4f4f; font-size:14px; line-height:24px;*/
    border: 1px solid #CCCCCC;
    color: #4F4F4F;
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin-left: 10px;
    min-height: 450px;
    padding-left: 35px;
    width: 390px;
}



/*added for input button*/

.flx_btn_contnr {

    display: inline-block;

    height: 26px;

    vertical-align: middle;

}



.flx_button_lft {

    background: url("../../img/grnBut_lft.png") no-repeat scroll left top transparent;

    display: inline-block;

 padding-left: 4px;

}

input.flx_flexible_btn {

    background: url("../../img/grnBut_rht.png") no-repeat scroll right top transparent;

    border: medium none;

    color: #FFFFFF;

    cursor: pointer;

    display: inline-block;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

    padding: 2px 15px 3px 11px;

    position: relative;

    text-decoration: none;

    vertical-align: middle;

}


input.flx_flexible_btn_red {

    background: url("../../img/butRht.png") no-repeat scroll right top transparent;

    border: medium none;

    color: #FFFFFF;

    cursor: pointer;

    display: inline-block;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

    padding: 2px 15px 3px 11px;

    position: relative;

    text-decoration: none;

    vertical-align: middle;

}

.flx_button_lft_red {

    background: url("../../img/butLft.png") no-repeat scroll left top transparent;

    display: inline-block;

    padding-left: 4px;

}


input.flx_flexible_btn_blue {

    background: url("../../img/btn_bg_rht.png") no-repeat scroll right top transparent;

    border: medium none;

    color: #FFFFFF;

    cursor: pointer;

    display: inline-block;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

    padding: 2px 15px 3px 11px;

    position: relative;

    text-decoration: none;

    vertical-align: middle;

}

.flx_button_lft_blue {

    background: url("../../img/btn_bg_lft.png") no-repeat scroll left top transparent;

    display: inline-block;

    padding-left: 4px;

}



select.inpt_sel_fld{

 background: #ebebeb; 

outline:0;   border: 0;    display: inline-block;    height: 22px; padding:1px 0 0;   

 width: 236px; 

vertical-align:top;





}

select.inpt_sel_fld option {
    font-size: 11px;
    width: 225px;
}


select.inpt_commenttype_fld{

 background: #ebebeb; 

outline:0;   border: 0;    display: inline-block;    height: 22px; padding:1px 0 0;   

 width: 322px; 

vertical-align:top;





}

select.inpt_commenttype_fld option {
    font-size: 11px;
    width: 315px;
}

.inpt_txt_fld:focus

{

    outline:0 none;

    

} 



select.inpt_sel_fld:focus{

outline:0;

}



.inptSpn_rht{

background: url("../../img/inpt_bg_rht.png") no-repeat scroll right top transparent;

    display: inline-block;

    height: 22px;

    padding-right: 0px;

}

.for_reg_but{



   display: inline-block;



      padding-left: 212px;

    padding-top: 1px;



}

.errormsg_register {

    background: none no-repeat scroll left center #FFEBE8;

    border: 1px solid #DD3C10;

    font-family: Arial;

    font-size: 11px;

    font-weight: bold;

    margin: 0 2px 5px;

    overflow: hidden;

    padding: 5px 2px 5px 0;

    text-align: center;

    text-decoration: none;

    width: 930px;

}

.successmsg_register  {



background: no-repeat scroll left center #E8FCDF;

border:1px solid #4CA009;

float:left;

font-family:Arial;

font-size:11px;

font-weight:bold;

margin:0px 2px 5px;

overflow:hidden;

padding:5px 2px 5px 0px;

text-align:center;

text-decoration:none;

 width: 930px;

}









.errormsg_coinverify {

    background: none no-repeat scroll left center #FFEBE8;

    border: 1px solid #DD3C10;

    font-family: Arial;

    font-size: 13px;

    font-weight: normal;

    margin: 20px 266px 6px;

    overflow: hidden;

    padding: 5px 2px 5px 16px;

    text-align: left;

    text-decoration: none;

    width: 278px;

}



.mrg10 {

margin-bottom:10px;

}









.errormsg_changepass {

    background: none no-repeat scroll left center #FFEBE8;

    border: 1px solid #DD3C10;

    font-family: Arial;

    font-size: 11px;

    font-weight: bold;

    margin: 2px 2px 5px;

    overflow: hidden;

    padding: 5px 2px 5px 20px;

    text-align: left;

    text-decoration: none;

    

}

.updat{

	width:140px;display:inline-block;margin-right: 16px;margin-bottom:10px;
    text-align: right;;


}

.updat1{

    width:120px;display:inline-block;margin-right:16px;margin-bottom:10px;
    padding-left: 70px;
    text-align: right;;

}



.updatInpt{

	width:222px;display:inline-block; margin-bottom:10px;

}





.buttonRegis, .buttonRegis:hover{


	background:url(../../img/titlBg_rht.gif) right top no-repeat; display:inline-block; color:#fff; font-size:18px; text-decoration:none;


}





.buttonRegis span{


	display:inline-block; cursor:pointer; padding:5px 61px;


}


#leftmenubar_bg
{
    background-color:#509cd9 ;
}


.dash_menu{

	list-style:none;
    color:#fff;
   
}

.dash_menu a{
	color:#FFF;

}



.dash_menu li{

	float:left;

	display:inline-block;

	margin-right:1px;
	/*background:url(../../img/member_dashboard/dash_menu_blue.png) repeat-x;*/
    background-color: #509cd9;

}


.dash_menu li a{

	text-decoration:none;

	font-size:12px;

	color:#fff;

	display:inline-block;

}

.dash_menu li a span{

	display:inline-block;

	cursor:pointer;

	padding:8px 8px;

	font-weight:bold;
    height:14px;
    color:#fff;

}


.dash_menu li a:hover{

	/*background:url(../../img/member_dashboard/dash_menu_black.png) repeat-x;*/
    background-color:#757575;

}
.dash_menu li a:hover span{

	/*background:url(../../img/member_dashboard/dash_menu_black.png) repeat-x;*/
    background-color:#757575;
	cursor:pointer;

}

.dash_menu li a.tabcheck{

	/*background:url(../../img/member_dashboard/dash_menu_black.png) repeat-x;*/
    background-color:#757575;

	text-decoration:none;

	font-size:12px;

	color:#fff;

	display:inline-block;

}
.dash_menu li a.tabcheck span{

	display:inline-block;

	cursor:pointer;

	padding:8px 10px;

	font-weight:bold;
    color:#fff;

}



.dash_menu_opp{

    list-style:none;

}

.dash_menu_opp a{
    color:#FFF;

}



.dash_menu_opp li{

    float:left;

    display:inline-block;

    margin-right:1px;
    /*background:url(../../img/member_dashboard/dash_menu_green.png) repeat-x;*/
    background-color:green;
    

}


.dash_menu_opp li a{

    text-decoration:none;

    font-size:12px;

    color:#fff;

    display:inline-block;
    background-color: #209f20;
    
    
    

}

.dash_menu_opp li a span{

    display:inline-block;

    cursor:pointer;

    padding:8px 10px;

    font-weight:bold;
    text-align: center;
    height:14px;
    

}

.dash_menu_opp li a:hover{

    /*background:url(../../img/member_dashboard/dash_menu_black.png) repeat-x;*/
    background-color:#757575;

}

.grayText{
    color: #777777;
}

.orangeText{
    color: #FA7503;
}

.orangeTextBold{
    color: #FA7503;
    font-weight: bold;
}

.borderRightGray{
      border-right: 1px solid #cccccc;
}

 .txtArea_top{
    background:#f1f1f1;     display: inline-block;     width:300px; /*padding-top: 6px;*/ margin-bottom:5px; 
}

.txtArea_bot{
   background:#f1f1f1;     
    display: block;
}

.multilist {
    background: none repeat scroll 0 0 transparent;
    margin-bottom: 0px;
    width: 300px;
}

.multilistoptions{

            font-size: 11px;

             width: 290px;

}

.coinseriallist{
    cursor: pointer;
}

 /** Classed for blog listing ***/
 .blogarticle {
  margin-top:15px;
  padding:5px 5px 5px 5px;
  line-height: 1.3;
   font-family: arial;
    font-size: 12px;
}


#blog .blogtitle a {
  padding-left: 0px;
  color:#FA7503;
  font-size: 18px;
  text-decoration:none;
}
.margin4px{
   margin: 4px; 
    
}
#blog .blogtitle a:hover {
       padding-left: 0px;     
    color:#777777; 
  text-decoration:underline;
}

/**
* Classes for message module
*/

.readMsg{
    font-weight: normal;
}

.unreadMsg{
    font-weight:bold;
}

.msgFolder{
         height: auto;    padding: 4px; 
}
 
 .msgFolder a{
    color: #777777;  font-size: 14px;  font-weight: bold; 
}
 
 .msgFolderActive{
         height: auto;    padding: 4px; background-color: #509CD9;
}

.msgFolderActive a{
     color: #FFFFFF;  font-size: 14px;  font-weight: bold;
}


/* end */
